
            html{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            #TopHeader{
                text-align: center;
                color : rgb(23, 98, 122);
                background-color: white;
                line-height: 100px;
                height: 100px;
                margin: 20px;
                font-size: 80px;
                border-style: outset;
                border-width: 5px;
                border-color: black;
                border-radius: 10px;
                padding: 5px;
            }
            .IntroHead{
                margin-top: 40px;
                margin-bottom: 0px;
                font-size:60px;
                margin-left: 10px;
            }
            .IntroInfo{
                margin-left: 30px;
            }
            h2{
                font-size: 45px;
            }
            li{
                margin: 20px;
            }
            #aboutMe{
                list-style:square;
                border-style: outset;
                border-width: 5px;
                border-color: navy;
                border-radius: 10px;
                font-size: 30px;
            }
            body{
                background-color: rgb(172, 201, 248);
            }
            #topNavBar{
                display: flex;
                padding: 0;
                list-style-type: none;
                text-align: right;
                font-size: 30px;
                
            }

            .navigation{
                text-decoration: none;
                background-color: rgb(0, 0, 78);
                color: white;
                border-style: outset;
                border-width: 5px;
                border-color: rgb(1, 1, 51);
                border-radius: 10px;
                width: 200px;
                height: 60px;
                padding: 15px;

            
            }
            .images{
                height : 380px;
                width : 495px;
            }
form{
    height: 30px;
}
